body{
    background-image: url("https://image.freepik.com/free-photo/modern-futuristic-sci-fi-background_35913-2150.jpg");
    background-size:100%;
}
h1 {
    color: #ff0026;
    text-align: center;
}
h2 {
    text-align: center;
    color: #ff0026;

}
.game {
    width: 800px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-image: url(https://i.pinimg.com/564x/30/17/85/301785c056054d549e619db2934bc72d.jpg);
    background-size: 110%
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/477/477149.png");
    background-size: 50px 50px;
    position: relative;
    top: 370px;
    left: 50px;
}
#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 330px;
    left: 780px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/874/874928.png);
    background-size: 20px 40px;

    animation: block 1.6s infinite linear;
}
#dragon {
    width: 20px;
    height: 40px;
    position: relative;
    top: 260px;
    left: 780px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2603/2603009.png);
    background-size: 20px 40px;

    animation: block 4s infinite linear;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 300px;
    }

    20% {
        top: 250px;
    }

    50% {
        top: 240px
    }

    80% {
        top: 250px;
    }

    100% {
        top: 300px;
    }
}
@keyframes block {
    0% {
        left: 780px;
    }

    100% {
        left: -20px;
    }
}
